.hingeContainer {
  background-color: #d70e2d;
  position: absolute;
  width: 40px;
  height: 385px;
  right: -20px;
  top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splitter {
  width: 95%;
  height: 3px;
  border-width: 2px;
  border-color: black;
  border-style: none solid;
  background-color: #7a0e1c;
}

.hingeSmall {
  border: 2px solid black;
  height: 30px;
  width: 100%;
}

.hingeSmall:first-of-type::before, 
.hingeSmall:last-of-type::before {
  content: '';
  position: absolute;
  right: 50%;
  transform: translate(50%);
  background-color: #7a0e1c;
  width: 85%;
  height: 2px;
  border-width: 2px;
  border-color: black;
}

.hingeSmall:first-of-type::before {
  border-style: solid solid none solid;
  top: -3.5px;
}

.hingeSmall:last-of-type::before {
border-style: none solid solid solid;
bottom: -3.5px;
}

.hingeBig {
  flex: 1;
  width: 100%;
  border: 2px solid black;
}
