.topSide {
  width: 270px;
  height: 80px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.horizontalLimit {
  position: absolute;
  bottom: 0%;
  width: 35%;
  height: 2px;
  background: black;
}

.diagonalLimit {
  position: absolute;
  bottom: 25%;
  left: 32.5%;
  width: 25%;
  height: 1.5px;
  background: black;
  transform: rotate(-36deg);
}

.limit1 {
  left: 0%;
}

.limit2 {
  bottom: 50%;
  width: 45%;
  left: 55%;
}
