
.screen {
  background-color: var(--screen-color);
  width: 370px;
  height: 50px;
  z-index: 99;
  position: relative;
  transition: all 1.5s;
}

.screen.active {
  height: 400px;
}

.openButton {
  position: absolute;
  top: 22px;
  left:50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border:solid;
  border-color: var(--interactive-screen-color);
  background-color: var(--screen-color);
  border-width: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 2s;
}


.openButton.active  {
  opacity: 0;
  cursor: default;
}

.cross {
  position: absolute;
  bottom: -30px;
  left:50%;
  transform: translate(-50%);
  cursor: pointer;
}
.cross svg {
  fill: var(--interactive-screen-color);
}