


.pokemonBox {
  width: calc((100%/4) - 6px);
  background: var(--box-color);
  height: 70px;
  margin: 3px;
  border-radius: 12px / 50%;
  position: relative;
  border: 2px solid var(--box-border);
  user-select: none;
}

.pokemonIdx {
  position: absolute;
  right: 8px;
  opacity: 0.2;
  transition: opacity 300ms;
  bottom: 0px;
  cursor: pointer;
}

.pokemonImg {
  transition: opacity 300ms;
  opacity: 0.2;
  margin-left: 4px;
  margin-top: 4px;
  max-width: 90%;
  max-height: 90%;
  cursor: pointer;
}

.hover {
  opacity: 1;
}